.logement-page {
  padding: 0px 90px;
}

.logement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logement-cover {
  width: 100%;
  height: auto;
  max-height: 500px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 25px;
}

.logement-info {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  .gauche {
    display: flex;
    flex-direction: column;
  }
}

.logement-titre {
  display: flex;
  flex-direction: column;

  h1 {
    font-size: xx-large;
    color: #ff6060;
    margin: 0;
  }

  p {
    font-size: 23px;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
  }
}

.host-rating {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.host {
  display: flex;
  align-items: center;

  span {
    color: #ff6060;
    font-size: 20px;
    font-weight: 500;
  }
}

.host-picture {
  border-radius: 50%;
  margin-left: 10px;
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.rating {
  display: flex;
  font-size: 40px;
  margin-top: 15px;
}

.filled-star {
  color: #ff6060;
}

.empty-star {
  color: #e3e3e3;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 0;
  margin-top: 10px;

  .tag {
    background-color: #ff6060;
    color: white;
    padding: 5px 10px;
    border-radius: 13px;
    font-size: 17px;
    font-weight: 600;
    min-width: 100px;
    justify-content: center;
    display: flex;
  }
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.dropdowns details {
  width: 47%;
}

.dropdowns summary {
  cursor: pointer;
  user-select: none;
  display: flex;
}

.dropdowns p,
.dropdowns ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 844px) {
  .logement-page {
    padding: 15px;
    padding-bottom: 0;
    padding-top: 0;
  }
  .logement-info {
    flex-direction: column;
  }
  .logement-titre {
    width: 100%;
    h1 {
      font-size: 25px;
      font-weight: 600;
    }
    p {
      font-size: 17px;
      font-weight: 500;
      margin-top: 10px;
    }
  }
  .host-rating {
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .host-picture {
    width: 60px;
    height: 60px;
  }
  .host {
    span {
      font-size: 18px;
      font-weight: 500;
    }
  }

  .tags {
    .tag {
      font-size: 13px;
      border-radius: 10px;
      min-width: 73px;
    }
  }
}
