footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  margin-right: 0;
  margin-left: 0;

  .logo-footer {
    margin: 10px;
    margin-top: 20px;
    color: white;
    width: 100px;
  }

  p {
    font-size: 23px;
  }
}

@media screen and (max-width: 844px) {
  footer p {
    font-size: 10px;
  }
  footer {
    margin-top: 20px;
    height: 150px;
    padding-top: 30px;
  }
}