header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
    align-items: center;

    .logo {
        font-size: 24px;
        font-weight: bold;
    }

    nav a {
        margin-left: 60px;
        text-decoration: none;
        color: black;
        font-weight: 500;
        font-size: 20px;
        text-align: right;
        font-family: "Montserrat", sans-serif;
    }
}