.container {
    padding-right: 80px;
    padding-left: 80px;
    text-align: center;
  }
  .errorCode {
    font-size: 300px;
    color: #FF6060;
  }
  .message {
    font-size: 50px;
    color: #FF6060;
    margin-bottom: 150px;
  }
  .link {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #000;
    border-bottom: 1px solid black;
    text-decoration: none;
  }

  @media screen and (max-width: 844px) {
    .container {
      padding: 15px;
      padding-bottom: 0;

      .errorCode {
        font-size: 100px;
        margin-top: 100px;
      }

      .message {
        font-size: 20px;
        font-weight: 500;
        margin-top: 120px;
        text-align: center;
        padding: 0 10px;
        margin-bottom: 120px;
      }

      .link {
        font-size: 1rem;
        margin-top: 0;
        font-weight: 500;
      }
    }
  }